.icon-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	font-family: 'Roboto', Helvetica, sans-serif;
}

.icon-box {
	width: 170px;
	height: 160px;
	margin: auto auto 10px auto;
	padding: 10px;
	background: #ddd;
	text-align: center;
	.icon-unicode {
		font-size: 0.8em;
	}
	.icon-class {
		font-size: 1.2em;
		font-weight: 100;
	}
	.icon-img {
		font-size: 2em;
	}
	.icon-tags {
		display: block;
		margin-top: 10px;
		border-top: 1px solid #aaaaaa;
	}
	.icon-tag {
		background: #9a9a9a;
	}
}

.category-header {
	color: #708098;
	border-bottom: 1px dotted #708098;
	padding: 10px 0;
	flex: 1 100%;
	margin: 40px 10px 20px;
	font-family: $font-family-serif;
	font-weight: 100;
}