.icon-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	font-family: 'Roboto', Helvetica, sans-serif;
}

.icon-box {
	width: 170px;
	height: 160px;
	margin: auto auto 10px auto;
	padding: 10px;
	background: #CED2D8;
	text-align: center;
	.icon-unicode {
		font-size: 0.8em;
	}
	.icon-class {
		font-size: 1.2em;
		font-weight: 100;
	}
	.icon-img {
		font-size: 2em;
	}
	.icon-tags {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 10px;
		border-top: 1px dashed #5A677B;
	}
	.icon-tag {
		margin: 4px;
		font-weight: 100;
		box-shadow: 0px 1px 0px 0px #6c6d75;
	}
}

.category-header {
	color: #708098;
	border-bottom: 1px dashed #708098;
	padding: 10px 0;
	flex: 1 100%;
	margin: 20px 10px 20px;
	font-family: $font-family-serif;
	font-weight: 100;
	font-size: 2em;
}